<!-- ====== Navbar Section Start -->
<div
class="
  ud-header
  bg-transparent
  absolute
  top-0
  left-0
  z-40
  w-full
  flex
  items-center
"
>
<div class="container">
  <div class="flex -mx-4 items-center justify-between relative">
    <div class="px-4 w-60 max-w-full">
      <a href="https://blog.lampmed.com.br" class="navbar-logo w-full block py-5">
        <img
          src="assets/images/logo/logo2.png"
          alt="logo"
          class="w-full header-logo"
        />
      </a>
    </div>
    <div class="flex px-4 justify-between items-center w-full">
      <div>
        <button
          id="navbarToggler"
          class="
            block
            absolute
            right-4
            top-1/2
            -translate-y-1/2
            lg:hidden
            focus:ring-2
            ring-primary
            px-3
            py-[6px]
            rounded-lg
          "
        >
          <span
            class="relative w-[30px] h-[2px] my-[6px] block bg-white"
          ></span>
          <span
            class="relative w-[30px] h-[2px] my-[6px] block bg-white"
          ></span>
          <span
            class="relative w-[30px] h-[2px] my-[6px] block bg-white"
          ></span>
        </button>
        <nav
          id="navbarCollapse"
          class="
            absolute
            py-5
            lg:py-0 lg:px-4
            xl:px-6
            bg-white
            lg:bg-transparent
            shadow-lg
            rounded-lg
            max-w-[250px]
            w-full
            lg:max-w-full lg:w-full
            right-4
            top-full
            hidden
            lg:block lg:static lg:shadow-none
          "
        >
          <ul class="blcok lg:flex">
            <li class="relative group">
              <a
                href="#home"
                class="
                  ud-menu-scroll
                  text-base text-dark
                  lg:text-white
                  lg:group-hover:opacity-70
                  lg:group-hover:text-white
                  group-hover:text-primary
                  py-2
                  lg:py-6 lg:inline-flex lg:px-0
                  flex
                  mx-8
                  lg:mr-0
                "
              >
                Principal
              </a>
            </li>
            <li class="relative group">
              <a
                href="#about"
                class="
                  ud-menu-scroll
                  text-base text-dark
                  lg:text-white
                  lg:group-hover:opacity-70
                  lg:group-hover:text-white
                  group-hover:text-primary
                  py-2
                  lg:py-6 lg:inline-flex lg:px-0
                  flex
                  mx-8
                  lg:mr-0 lg:ml-7
                  xl:ml-12
                "
              >
                Sobre o sistema
              </a>
            </li>
            <li class="relative group">
              <a
                href="https://blog.lampmed.com.br"
                class="
                  ud-menu-scroll
                  text-base text-dark
                  lg:text-white
                  lg:group-hover:opacity-70
                  lg:group-hover:text-white
                  group-hover:text-primary
                  py-2
                  lg:py-6 lg:inline-flex lg:px-0
                  flex
                  mx-8
                  lg:mr-0
                "
              >
                BLOG
              </a>
            </li>

          </ul><!-- FIM MENU-->
        </nav>
      </div>
      <div class="sm:flex justify-end hidden pr-16 lg:pr-0">
          <!-- Sign In
          Sign Up -->
      </div>
    </div>
  </div>
</div>
</div>
<!-- ====== Navbar Section End -->

<!-- ====== Hero Section Start -->
<div
id="home"
class="relative pt-[120px] md:pt-[130px] lg:pt-[160px] bg-primary"
>
<div class="container">
  <div class="flex flex-wrap items-center -mx-4">
    <div class="w-full px-4">
      <div
        class="
          hero-content
          text-center
          mx-auto
          wow
          fadeInUp
        "
        data-wow-delay=".2s"
      >
        <h1
          class="
            text-white
            font-bold
            text-3xl
            sm:text-4xl
            md:text-[45px]
            leading-snug
            sm:leading-snug
            md:leading-snug
            mb-8
          "
        >
          A solução simples para organizar sua clínica ou consultório
        </h1>
        <p
          class="
            text-base
            sm:text-lg sm:leading-relaxed
            md:text-xl md:leading-relaxed
            mx-auto
            mb-10
            text-[#e4e4e4]
            max-w-[600px]
          "
        >
          Excesso de papel, falta de organização, pacientes faltando, sistemas complicados.
          Você enfrenta este tipo de problema?
          <br>O LampMed resolve todos eles!
          <br>Faça um teste!
         </p>
        <ul class="flex flex-wrap items-center justify-center mb-10">
          <li>
            <a
              href="#contact"
              class="
                py-4
                px-6
                sm:px-10
                inline-flex
                items-center
                justify-center
                text-center text-dark text-base
                bg-white
                hover:text-primary hover:shadow-lg
                font-medium
                rounded-lg
                transition
                duration-300
                ease-in-out
              "
            >
              Quero que um consultor entre em contato
            </a>
          </li>
        </ul>
    <div class="w-full px-16">
      <div
        class="mx-auto max-w-[845px] relative z-10 wow fadeInUp"
        data-wow-delay=".25s"
      >
        <div class="mt-16">
          <img
            src="assets/images/hero/hero-image.jpg"
            alt="hero"
            class="max-w-full mx-auto rounded-t-xl rounded-tr-xl"
          />
        </div>
        <div class="absolute z-[-1] bottom-0 -left-9">
          <svg
            width="134"
            height="106"
            viewBox="0 0 134 106"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="1.66667"
              cy="104"
              r="1.66667"
              transform="rotate(-90 1.66667 104)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="104"
              r="1.66667"
              transform="rotate(-90 16.3333 104)"
              fill="white"
            />
            <circle
              cx="31"
              cy="104"
              r="1.66667"
              transform="rotate(-90 31 104)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="104"
              r="1.66667"
              transform="rotate(-90 45.6667 104)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="104"
              r="1.66667"
              transform="rotate(-90 60.3333 104)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="104"
              r="1.66667"
              transform="rotate(-90 88.6667 104)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="104"
              r="1.66667"
              transform="rotate(-90 117.667 104)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="104"
              r="1.66667"
              transform="rotate(-90 74.6667 104)"
              fill="white"
            />
            <circle
              cx="103"
              cy="104"
              r="1.66667"
              transform="rotate(-90 103 104)"
              fill="white"
            />
            <circle
              cx="132"
              cy="104"
              r="1.66667"
              transform="rotate(-90 132 104)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="89.3333"
              r="1.66667"
              transform="rotate(-90 1.66667 89.3333)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="89.3333"
              r="1.66667"
              transform="rotate(-90 16.3333 89.3333)"
              fill="white"
            />
            <circle
              cx="31"
              cy="89.3333"
              r="1.66667"
              transform="rotate(-90 31 89.3333)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="89.3333"
              r="1.66667"
              transform="rotate(-90 45.6667 89.3333)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 60.3333 89.3338)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 88.6667 89.3338)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 117.667 89.3338)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 74.6667 89.3338)"
              fill="white"
            />
            <circle
              cx="103"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 103 89.3338)"
              fill="white"
            />
            <circle
              cx="132"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 132 89.3338)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="74.6673"
              r="1.66667"
              transform="rotate(-90 1.66667 74.6673)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="31.0003"
              r="1.66667"
              transform="rotate(-90 1.66667 31.0003)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 16.3333 74.6668)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="31.0003"
              r="1.66667"
              transform="rotate(-90 16.3333 31.0003)"
              fill="white"
            />
            <circle
              cx="31"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 31 74.6668)"
              fill="white"
            />
            <circle
              cx="31"
              cy="31.0003"
              r="1.66667"
              transform="rotate(-90 31 31.0003)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 45.6667 74.6668)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="31.0003"
              r="1.66667"
              transform="rotate(-90 45.6667 31.0003)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 60.3333 74.6668)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 60.3333 31.0001)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 88.6667 74.6668)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 88.6667 31.0001)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 117.667 74.6668)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 117.667 31.0001)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 74.6667 74.6668)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 74.6667 31.0001)"
              fill="white"
            />
            <circle
              cx="103"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 103 74.6668)"
              fill="white"
            />
            <circle
              cx="103"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 103 31.0001)"
              fill="white"
            />
            <circle
              cx="132"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 132 74.6668)"
              fill="white"
            />
            <circle
              cx="132"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 132 31.0001)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 1.66667 60.0003)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 1.66667 16.3336)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 16.3333 60.0003)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 16.3333 16.3336)"
              fill="white"
            />
            <circle
              cx="31"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 31 60.0003)"
              fill="white"
            />
            <circle
              cx="31"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 31 16.3336)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 45.6667 60.0003)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 45.6667 16.3336)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 60.3333 60.0003)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 60.3333 16.3336)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 88.6667 60.0003)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 88.6667 16.3336)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 117.667 60.0003)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 117.667 16.3336)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 74.6667 60.0003)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 74.6667 16.3336)"
              fill="white"
            />
            <circle
              cx="103"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 103 60.0003)"
              fill="white"
            />
            <circle
              cx="103"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 103 16.3336)"
              fill="white"
            />
            <circle
              cx="132"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 132 60.0003)"
              fill="white"
            />
            <circle
              cx="132"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 132 16.3336)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="45.3336"
              r="1.66667"
              transform="rotate(-90 1.66667 45.3336)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="1.66683"
              r="1.66667"
              transform="rotate(-90 1.66667 1.66683)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="45.3336"
              r="1.66667"
              transform="rotate(-90 16.3333 45.3336)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="1.66683"
              r="1.66667"
              transform="rotate(-90 16.3333 1.66683)"
              fill="white"
            />
            <circle
              cx="31"
              cy="45.3336"
              r="1.66667"
              transform="rotate(-90 31 45.3336)"
              fill="white"
            />
            <circle
              cx="31"
              cy="1.66683"
              r="1.66667"
              transform="rotate(-90 31 1.66683)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="45.3336"
              r="1.66667"
              transform="rotate(-90 45.6667 45.3336)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="1.66683"
              r="1.66667"
              transform="rotate(-90 45.6667 1.66683)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 60.3333 45.3338)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 60.3333 1.66707)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 88.6667 45.3338)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 88.6667 1.66707)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 117.667 45.3338)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 117.667 1.66707)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 74.6667 45.3338)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 74.6667 1.66707)"
              fill="white"
            />
            <circle
              cx="103"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 103 45.3338)"
              fill="white"
            />
            <circle
              cx="103"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 103 1.66707)"
              fill="white"
            />
            <circle
              cx="132"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 132 45.3338)"
              fill="white"
            />
            <circle
              cx="132"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 132 1.66707)"
              fill="white"
            />
          </svg>
        </div>
        <div class="absolute z-[-1] -top-6 -right-6">
          <svg
            width="134"
            height="106"
            viewBox="0 0 134 106"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="1.66667"
              cy="104"
              r="1.66667"
              transform="rotate(-90 1.66667 104)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="104"
              r="1.66667"
              transform="rotate(-90 16.3333 104)"
              fill="white"
            />
            <circle
              cx="31"
              cy="104"
              r="1.66667"
              transform="rotate(-90 31 104)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="104"
              r="1.66667"
              transform="rotate(-90 45.6667 104)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="104"
              r="1.66667"
              transform="rotate(-90 60.3333 104)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="104"
              r="1.66667"
              transform="rotate(-90 88.6667 104)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="104"
              r="1.66667"
              transform="rotate(-90 117.667 104)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="104"
              r="1.66667"
              transform="rotate(-90 74.6667 104)"
              fill="white"
            />
            <circle
              cx="103"
              cy="104"
              r="1.66667"
              transform="rotate(-90 103 104)"
              fill="white"
            />
            <circle
              cx="132"
              cy="104"
              r="1.66667"
              transform="rotate(-90 132 104)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="89.3333"
              r="1.66667"
              transform="rotate(-90 1.66667 89.3333)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="89.3333"
              r="1.66667"
              transform="rotate(-90 16.3333 89.3333)"
              fill="white"
            />
            <circle
              cx="31"
              cy="89.3333"
              r="1.66667"
              transform="rotate(-90 31 89.3333)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="89.3333"
              r="1.66667"
              transform="rotate(-90 45.6667 89.3333)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 60.3333 89.3338)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 88.6667 89.3338)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 117.667 89.3338)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 74.6667 89.3338)"
              fill="white"
            />
            <circle
              cx="103"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 103 89.3338)"
              fill="white"
            />
            <circle
              cx="132"
              cy="89.3338"
              r="1.66667"
              transform="rotate(-90 132 89.3338)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="74.6673"
              r="1.66667"
              transform="rotate(-90 1.66667 74.6673)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="31.0003"
              r="1.66667"
              transform="rotate(-90 1.66667 31.0003)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 16.3333 74.6668)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="31.0003"
              r="1.66667"
              transform="rotate(-90 16.3333 31.0003)"
              fill="white"
            />
            <circle
              cx="31"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 31 74.6668)"
              fill="white"
            />
            <circle
              cx="31"
              cy="31.0003"
              r="1.66667"
              transform="rotate(-90 31 31.0003)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 45.6667 74.6668)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="31.0003"
              r="1.66667"
              transform="rotate(-90 45.6667 31.0003)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 60.3333 74.6668)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 60.3333 31.0001)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 88.6667 74.6668)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 88.6667 31.0001)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 117.667 74.6668)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 117.667 31.0001)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 74.6667 74.6668)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 74.6667 31.0001)"
              fill="white"
            />
            <circle
              cx="103"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 103 74.6668)"
              fill="white"
            />
            <circle
              cx="103"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 103 31.0001)"
              fill="white"
            />
            <circle
              cx="132"
              cy="74.6668"
              r="1.66667"
              transform="rotate(-90 132 74.6668)"
              fill="white"
            />
            <circle
              cx="132"
              cy="31.0001"
              r="1.66667"
              transform="rotate(-90 132 31.0001)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 1.66667 60.0003)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 1.66667 16.3336)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 16.3333 60.0003)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 16.3333 16.3336)"
              fill="white"
            />
            <circle
              cx="31"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 31 60.0003)"
              fill="white"
            />
            <circle
              cx="31"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 31 16.3336)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 45.6667 60.0003)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 45.6667 16.3336)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 60.3333 60.0003)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 60.3333 16.3336)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 88.6667 60.0003)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 88.6667 16.3336)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 117.667 60.0003)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 117.667 16.3336)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 74.6667 60.0003)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 74.6667 16.3336)"
              fill="white"
            />
            <circle
              cx="103"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 103 60.0003)"
              fill="white"
            />
            <circle
              cx="103"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 103 16.3336)"
              fill="white"
            />
            <circle
              cx="132"
              cy="60.0003"
              r="1.66667"
              transform="rotate(-90 132 60.0003)"
              fill="white"
            />
            <circle
              cx="132"
              cy="16.3336"
              r="1.66667"
              transform="rotate(-90 132 16.3336)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="45.3336"
              r="1.66667"
              transform="rotate(-90 1.66667 45.3336)"
              fill="white"
            />
            <circle
              cx="1.66667"
              cy="1.66683"
              r="1.66667"
              transform="rotate(-90 1.66667 1.66683)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="45.3336"
              r="1.66667"
              transform="rotate(-90 16.3333 45.3336)"
              fill="white"
            />
            <circle
              cx="16.3333"
              cy="1.66683"
              r="1.66667"
              transform="rotate(-90 16.3333 1.66683)"
              fill="white"
            />
            <circle
              cx="31"
              cy="45.3336"
              r="1.66667"
              transform="rotate(-90 31 45.3336)"
              fill="white"
            />
            <circle
              cx="31"
              cy="1.66683"
              r="1.66667"
              transform="rotate(-90 31 1.66683)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="45.3336"
              r="1.66667"
              transform="rotate(-90 45.6667 45.3336)"
              fill="white"
            />
            <circle
              cx="45.6667"
              cy="1.66683"
              r="1.66667"
              transform="rotate(-90 45.6667 1.66683)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 60.3333 45.3338)"
              fill="white"
            />
            <circle
              cx="60.3333"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 60.3333 1.66707)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 88.6667 45.3338)"
              fill="white"
            />
            <circle
              cx="88.6667"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 88.6667 1.66707)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 117.667 45.3338)"
              fill="white"
            />
            <circle
              cx="117.667"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 117.667 1.66707)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 74.6667 45.3338)"
              fill="white"
            />
            <circle
              cx="74.6667"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 74.6667 1.66707)"
              fill="white"
            />
            <circle
              cx="103"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 103 45.3338)"
              fill="white"
            />
            <circle
              cx="103"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 103 1.66707)"
              fill="white"
            />
            <circle
              cx="132"
              cy="45.3338"
              r="1.66667"
              transform="rotate(-90 132 45.3338)"
              fill="white"
            />
            <circle
              cx="132"
              cy="1.66707"
              r="1.66667"
              transform="rotate(-90 132 1.66707)"
              fill="white"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- ====== Hero Section End -->

<!-- ====== Features Section Start -->
<section class="pt-20 lg:pt-[120px] pb-8 lg:pb-[70px]">
<div class="container">
  <div class="flex flex-wrap -mx-4">
    <div class="w-full px-4">
    </div>
  </div>
  <div class="flex flex-wrap -mx-4"></div>
</div>
</section>
<!-- ====== Features Section End -->

<!-- ====== About Section Start -->
<section
id="about"
class="pt-20 lg:pt-[120px] pb-20 lg:pb-[120px] bg-[#f3f4fe]"
>
<div class="container">
  <div class="bg-white wow fadeInUp" data-wow-delay=".2s">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4">
        <div
          class="
            lg:flex
            items-center
            justify-between
            border
            overflow-hidden
          "
        >
          <div
            class="
              lg:max-w-[565px]
              xl:max-w-[640px]
              w-full
              py-12
              px-7
              sm:px-12
              md:p-20
              lg:py-9 lg:px-16
              xl:p-[70px]
            "
          >
            <h2
              class="
                font-bold
                text-3xl
                sm:text-4xl
                2xl:text-[40px]
                sm:leading-snug
                text-dark
                mb-6
              "
            >
            Sistema 100% online para gerenciamento de clínicas e consultórios
            </h2>
            <p class="text-base text-body-color mb-9 leading-relaxed">
             Cadastro de pacientes, profissionais de saúde, agendamentos, 
             prontuários, receituário e muito mais. 
             Fácil manuseio e flexível as suas necessidades..
            </p>
            <p class="text-base text-body-color mb-9 leading-relaxed">
             LampMed inclui:
           </p>
           <ul class="text-base text-body-color mb-9 leading-relaxed">
             <li> - AGENDA ELETRÔNICA vinculada ao consultório e/ou profissionais;</li>
             <li> - Notificações por e-mail e whatsapp, lista de espera, encaixes;</li>
             <li> - Anamnese, histórico de tratamentos, lembretes pré e pós consulta, receituários e atestados;</li>
             <li> - Salvamento de arquivos de texto e imagens.</li>
           </ul>
            <p class="text-base text-body-color mb-9 leading-relaxed">
              O Sistema será customizado para as suas necessidades. E você pode contratar os módulos no momento que for necessário.
            </p>
            <p class="text-base text-body-color mb-9 leading-relaxed">
              O suporte especializado estará sempre pronto para resolver suas dúvidas e guiá-lo para o uso mais eficiente do sistema. 
              De forma, que ele seja realmente uma solução para seu atendimento e não mais um problema.
            </p>
            <p class="text-base text-body-color mb-9 leading-relaxed">
              Seu feedback será sempre bem vindo e levado em consideração para criação de novos recursos e atualizações. 
              Pois você é quem de fato entende de seu negócio e necessidades.
            </p>
            <a
              href="#contact"
              class="
                inline-flex
                items-center
                justify-center
                py-4
                px-6
                rounded
                text-white
                bg-primary
                text-base
                font-medium
                hover:bg-opacity-90 hover:shadow-lg
                transition
                duration-300
                ease-in-out
              "
            >
              Quero testar o sistema
            </a>
          </div>
          <div class="text-center">
            <div class="relative inline-block z-100">
              <img
                src="assets/images/about/medical2.jpg"
                alt="image"
                class="mx-auto lg:ml-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- ====== About Section End -->

<!-- ====== Pricing Section Start -->
<!-- ====== Pricing Section End -->

<!-- ====== Faq Section Start -->

<!-- ====== Testimonials End ====== -->

<!-- ====== Team Section Start -->
<!-- ====== Team Section End -->

<!-- ====== Contact Start ====== -->
<section id="contact" class="py-20 md:py-[120px] relative">
<div
  class="
    absolute
    z-[-1]
    w-full
    h-1/2
    lg:h-[45%]
    xl:h-1/2
    bg-[#f3f4fe]
    top-0
    left-0
  "
></div>
<div class="container px-12">
  <div class="flex flex-wrap items-center -mx-4">
      <div
        class="
          shadow-testimonial
          rounded-lg
          bg-white
          py-10
          px-8
          md:p-[20px]
          lg:p-10
          2xl:p-[120px]
          sm:py-12 sm:px-10
          lg:py-12 lg:px-10
          wow
          fadeInUp
        "
        data-wow-delay=".2s
        "
      >
        <h6 class="font-semibold mb-12 text-2xl md:text-[14px]">
          SOLICITE CONTATO
        </h6>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" >
          <div class="mb-12">
            <label for="name" class="block text-xs text-dark"
              >NOME COMPLETO*</label
            >
            <input
              type="text"
              formControlName="name"
              placeholder="NOME"
              class="
                w-full
                border-0 border-b border-[#f1f1f1]
                focus:border-primary focus:outline-none
                py-4
              "
            />
          </div>
          <div class="mb-12">
            <label for="company" class="block text-xs text-dark"
              >NOME DA EMPRESA</label
            >
            <input
              type="text"
              formControlName="company"
              placeholder="EMPRESA"
              class="
                w-full
                border-0 border-b border-[#f1f1f1]
                focus:border-primary focus:outline-none
                py-4
              "
            />
          </div>
          <div class="mb-12">
            <label for="email" class="block text-xs text-dark"
              >Email*</label
            >
            <input
              type="email"
              formControlName="email"
              placeholder="example@yourmail.com"
              class="
                w-full
                border-0 border-b border-[#f1f1f1]
                focus:border-primary focus:outline-none
                py-4
              "
            />
          </div>
          <div class="mb-12">
            <label for="phone" class="block text-xs text-dark"
              >TELEFONE DE CONTATO ou WHATSAPP*</label
            >
            <input
              type="text"
              formControlName="phone"
              placeholder="+55 99 99999-9999"
              class="
                w-full
                border-0 border-b border-[#f1f1f1]
                focus:border-primary focus:outline-none
                py-4
              "
            />
          </div>
          <div class="mb-12">
            <label for="message" class="block text-xs text-dark"
              >MENSAGEM (OPCIONAL)</label
            >
            <textarea
              formControlName="message"
              rows="2"
              class="
                w-full
                border-0 border-b border-[#f1f1f1]
                focus:border-primary focus:outline-none
                py-4
                resize-none
              "
            ></textarea>
          </div>
          <div class="mb-0">
            <button
              type="submit"
              [disabled]="disabledSubmitButton"
              class="
                inline-flex
                items-center
                justify-center
                py-4
                px-6
                rounded
                text-white
                bg-primary
                text-base
                font-medium
                hover:bg-dark
                transition
                duration-300
                ease-in-out
              "
            >
              ENVIAR
            </button>
          </div>
        </form>
      </div>
  </div>
</div>
</section>
<!-- ====== Contact End ====== -->

<!-- ====== Footer Section Start -->
<footer>
</footer>
<!-- ====== Footer Section End -->

<!-- ====== Back To Top Start -->
<a
href="javascript:void(0)"
class="
  hidden
  items-center
  justify-center
  bg-primary
  text-white
  w-10
  h-10
  rounded-md
  fixed
  bottom-8
  right-8
  left-auto
  z-[999]
  hover:bg-dark
  back-to-top
  shadow-md
  transition
  duration-300
  ease-in-out
"
>
<span
  class="w-3 h-3 border-t border-l border-white rotate-45 mt-[6px]"
></span>
</a>
<!-- ====== Back To Top End -->

<app-modal #modal>
 <h1>OBRIGADO!</h1>
 <p>
 </p>
 <p>
   Em breve um de nosso consultores entrará em contato para lhe fornecer maiores detalhes e liberar acesso a um período de testes sem custo.
 </p>
</app-modal> 
