<div align="center" class="img-container" style="padding-right: 0px;padding-left: 0px;">
  <div style="font-size:1px;line-height:15px"> </div><img alt="Image" border="0" src="/assets/images/logo/logo1.png" 
  style="text-decoration: none; -ms-interpolation-mode: bicubic; border: 0; width: 12%; display: block;" title="Image" width="290"/>
  <div style="font-size:1px;line-height:15px"> </div>
</div>

<form>
  <p>Selecione uma opção</p>

  <div class="options">

    <span>
      <input type="radio" name="mark" value="remarcar" id="remarcar">
      <label for="remarcar">Remarcar</label>
      
      <span class="divider"></span>
      
      <input type="radio" name="mark" value="desmarcar" id="desmarcar">
      <label for="desmarcar">Desmarcar</label>
    </span>
  </div>

  <h1 id="title">Observação</h1>
  
  <textarea name="obervacao" cols="60" rows="7" required></textarea>

  <button type="submit">Confirmo que não poderei comparecer</button>
</form>